<div class="container">

  <div class="row">
    <div class="col-3">
      <h2>投稿一覧</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-2">
      <p>プロフィール写真</p>
    </div>
    <div class="col-1">
      <p>名前</p>
    </div>
    <div class="col-1">
      <p>投稿した日</p>
    </div>
    <div class="col-1">
      <p>この夢をみた日</p>
    </div>
    <div class="col-1">
      <p>夢の属性</p>
    </div>
    <div class="col-1">
      <p>❤︎</p>
    </div>
    <div class="col-1">
      <p>コメント◯件</p>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row">
    <p>コメント本文が入ります</p>
  </div>

</div>