<div class="container">

  <div class="row">
    <div class="col-10 mx-auto text-center">
      <h2>他人の夢、覗いてみます？</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-10 mx-auto text-center">
      <p>いろんな人の夢、覗いてみませんか？</p>
      <p>普段気にしないけど、他人の夢ってどんななんだろう、、、、</p>
    </div>
  </div>

  <!--お問合せページへのボタン-->
  <div class="row">
    <div class="col-10 mx-auto text-center">
      <%= link_to "お問合せ", inquiry_path, class: "btn btn-sm btn-primary" %>
    </div>
  </div>

</div>