<div class="container">

  <div class="row">
    <div class="col-4 mx-auto">
      <h2>他人の夢、覗いてみます？</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-4 mx-auto">
      <%= link_to "夢ポスト", new_dream_path, class: "btn btn-sm btn-info" %>
    </div>
  </div>

</div>