<div class="image">
  <div class="container">

    <div class="row head">
      <div class="col-5 mx-auto text-center">
        <h2 class="dream-top">あなたの夢、共有してみませんか？</h2>
      </div>
    </div>

    <div class="row middle">
      <div class="col-4 mx-auto text-center">
        <h2>普段気にしないけど、他人の夢ってどんななんだろう、、、、</h2>
      </div>
      <div class="col-4 mx-auto text-center">
        <h2>今日、こんな夢見た！</h2>
      </div>
    </div>

    <div class="row middle">
      <div class="col-4 mx-auto text-center">
        <h2>私の夢はいつも冒険ストーリーだな〜。</h2>
      </div>
      <div class="col-4 mx-auto text-center">
        <h2>最近、怖い夢見たなー。</h2>
      </div>
    </div>

    <div class="row middle">
      <div class="col-3 mx-auto text-center">
        <div class="post">
          <%= link_to "投稿する！", new_dream_path %>
        </div>
      </div>
    </div>

    <!--お問合せページへのボタン-->
    <div class="row bottom">
      <div class="col-10 mx-auto text-center">
        <div class="contact">
          <%= link_to "お問合せ", inquiry_path, class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>

  </div>
</div>