<div class="container">

  <div class="row">
      <h3><%= @user.name %>の夢日記</h3>
  </div>
  
  <%= month_calendar events: @dreams do |date, dreams| %>
    <%= date.day %>
    
    <% dreams.each do |dream| %>
      <div>
        <%= link_to dream.title, dream %>
      </div>
    <% end %>
    
  <% end %>

</div>