<div class="container">

  <div class="row withdraw-top">
    <div class="col-5 5 mx-auto text-center">
      <h3>本当にアカウントを削除しますか？</h3>
    </div>
  </div>

  <div class="row withdraw-middle">
    <div class="col-5 mx-auto text-center">
      <p class="withdraw-middle-p">アカウントを削除すると、登録情報や<br />
      積み重ねた夢日記が見れなくなります。<br />
      削除する場合は、「削除する」をクリックしてください。</p>
    </div>
  </div>

  <!--アカウントの削除する/しないボタン-->
  <div class="row withdraw-bottom text-center">
    <div class="col-4 mx-auto text-center">
      <%= link_to "削除しない", user_path(current_user.id), class: "btn btn-lg btn-info" %>&emsp;
      <%= link_to '削除する', user_registration_path, method: :delete, class: "btn btn-lg btn-danger" %>
    </div>
  </div>

</div>