<div class="container">

  <div class="row text-center about">
    <div class="col-12 mx-auto">
      <h2>このサイトは「夢」を身近に感じるためのサイトです。</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <p>あなたの寝ているときに見る「夢」を他人と共有し、</p>
      <p>それを積み重ねることにより「夢日記」となるようになっています。</p>
    </div>
  </div>

</div>