<div class="container">

  <div class="row thanks-top">
    <div class="col-4 mx-auto text-center">
      <h2>お問い合わせ</h2>
    </div>
  </div>

  <div class="row thanks-bottom">
    <div class="col-6 mx-auto text-center">
      <p class="inquiry-p">お問い合わせいただきありがとうございました。</p>
    </div>
  </div>

</div>