// Place all the styles related to the dreams controller here.	.cover{
// They will automatically be included in application.css.	  background-image: image-url('dreams/library.jpg');
// You can use Sass (SCSS) here: http://sass-lang.com/	  background-size: cover;

.row {
  padding: 10px;
}

h6 {
  margin: 10px;

.cover{
  background-image: image-url('dreams/library.jpg');
  background-size: cover;
}