// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.span {
  padding: 0.3em 0.5em;
  background: white;
  border-radius: 10px;
}

.about {
  padding: 100px;
}

h1 {
  padding-top: 80px;
}

h3 {
  padding: 30px;
}