.main-container {
  background-image: image-url('00630fb620da63270adc0220fa72118d_m.jpg');
  background-size: cover;
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.9;
  min-height: 100vh;
  position: relative;
}
