<span class="navbar-text">ようこそ、◯◯さん</span>
<form class="form-inline">
  <li class="nav-item"><%= link_to "HOME", dreams_top_path, class: "btn btn-sm btn-outline-warning" %></li>
  <li class="nav-item"><%= link_to "マイページ", user_path(current_user.id), class: "btn btn-sm btn-outline-warning" %></li>
  <li class="nav-item"><%= link_to "みんなの夢一覧", dreams_path, class: "btn btn-sm btn-outline-warning" %></li>
  <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-outline-warning" %></li>
</form>